# Für Daten Mail an info@rissc.com
PRINTFORMER_URL = ''
PRINTFORMER_USER = ''
PRINTFORMER_BEARER_TOKEN = ''
PRINTFORMER_CLIENT_IDENTIFIER = ''
PRINTFORMER_TEMPLATE_IDENTIFIER = ''
PRINTFORMER_INTENT = ''
NPM_REGISTRY_TOKEN = ''
